<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>websourceindexnow</name>
	<displayName><![CDATA[WebsourceIndexnow]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Le module indexnow de Websource permet d\'indexer immédiatement vos urls sur Google.]]></description>
	<author><![CDATA[Websource]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
